@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&family=League+Spartan:wght@500;700&family=Overpass:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;700;800&display=swap');

:root{
  /* #### Backgrounds  */

  --Very-dark-desaturated-blue-main-background: hsl(222, 26%, 31%);
  --Very-dark-desaturated-blue-toggle-background-keypad-background: hsl(223, 31%, 20%);
  --Very-dark-desaturated-blue-screen-background: hsl(224, 36%, 15%);
  
  /* #### Keys */
  
  --Desaturated-dark-blue-key-background: hsl(225, 21%, 49%);
  --Desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);
  
  --Red-key-background-toggle: hsl(6, 63%, 50%);
  --Dark-red-key-shadow: hsl(6, 70%, 34%);
  
  --Light-grayish-orange-key-background: hsl(30, 25%, 89%);
  --Grayish-orange-key-shadow: hsl(28, 16%, 65%);
  
  /* #### Text */
  
  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --White: hsl(0, 0, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  font-family: 'Gemunu Libre', sans-serif;
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Very-dark-desaturated-blue-main-background);
  color:white;
}
.landing{
  padding:20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width:350px;
  width:100%;
}
header{
  width:100%;
}
header h1{
  font-size: 18px;
  font-weight: 700;
  margin:0 0 20px 2px;
}
.screen{
  background-color: var(--Very-dark-desaturated-blue-screen-background);
  width:100%;
  max-width:100%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.screen h1{
  font-size: 50px;
  margin: 0;
  text-align: right;
}
.button{
  margin:10px 0;
}
.button aside{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
  background-color: var(--Very-dark-desaturated-blue-toggle-background-keypad-background);
  padding:10px;
  border-radius: 5px;
}
.button aside button{
  padding: 10px 0px;
  width:60px;
  margin:10px 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--Light-grayish-orange-key-background);
  color: var(--Very-dark-grayish-blue);
  box-shadow: 0px 2px 1px 0px var(--Desaturated-dark-blue-key-shadow), inset 2px -2px 2px 0 var(--Grayish-orange-key-shadow);
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}
.button aside button:first-child{
  background-color: var(--Red-key-background-toggle);
  box-shadow: 0px 2px 1px 0px var(--Desaturated-dark-blue-key-shadow), inset 2px -2px 2px 0 var(--Dark-red-key-shadow); 
  color: var(--White);
}
.button aside button:nth-child(17){
  background-color: var(--Desaturated-dark-blue-key-shadow);
  color:var(--White);
  text-transform: uppercase;
  font-size: 20px;
  padding:13px 0;
  width:135px;
}
.button aside button:last-child{
  background-color: var(--Red-key-background-toggle);
  box-shadow: 0px 2px 1px 0px var(--Desaturated-dark-blue-key-shadow), inset 2px -2px 2px 0 var(--Dark-red-key-shadow); 
  color: var(--White);
  width:135px;
}
